[submodule "themes/cloud-theme"]
	path = themes/cloud-theme
	url = https://github.com/FireJuun/cloud-theme.git
	branch = master
	ignore = dirty

[submodule "public"]
	path = public
	url = https://github.com/FireJuun/kodacast.com.git
	branch = main
	ignore = dirty
